.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-ul li{
display: inline-block;
padding: 10px;
}

.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.footer{
position: absolute;
bottom: 0;
text-align: center;
width: 100%;
background-color: skyblue;
}

.register, .product{
  margin-left: 30%;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}

.nav-right{
  text-align: right;
}

.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 20px;
}

.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product-list ul{
  margin: 0;
}

.search-product-box{
  width: 400px;
  margin: 20px ;
  height: 40px ;
  padding-left: 20px;
  border: 1px solid skyblue;
}